.placeholder {
  font-size: 3vh;
  opacity: 0.2;
}

.word {
  display: flex;
  flex-direction: row;
}

.cointainer-word {
  display: flex;
  min-width: 65vh;
  width: auto;
  height: 10vh;
  border: 3px solid;
  border-color: #979797;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
  margin-left: 3vh;
  padding: 3vh 4vh 3vh 4vh;
}
