body,
html {
  margin: 0;
}

:root {
  --size-card: 13.6vh;
  --shadow-card: inset 0px -3.5em 2.2em -1.8em rgb(247 119 36);
  --shadow-card-invalid: inset 0px -56px 32px -12px #ae1127;
  --shadow-card-valid: inset 0em -2.9em 1.55em -0.38em #5ba72c;
}

#root {
  display: grid;
  grid-template-areas:
    'header'
    'container'
    'footer';
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-area: container;
  grid-template-areas:
    'container-grid container-reset'
    'container-grid container-word';
}

.container-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: container-grid;
}

.container-word {
  grid-area: container-word;
  width: 40vw;
}

.container-reset {
  grid-area: container-reset;
}

.right-side {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.container-letter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 32.5vw;
  height: 10vh;
  border: 2px solid;
  border-color: #979797;
  margin-bottom: 1vh;
  padding: 3vh 4vh 3vh 5vh;
}

.clear-word {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: baseline;
}

.p-word {
  font-size: 2vh;
  margin: 0;
  color: #d8d8d8;
  display: flex;
  grid-area: button;
  justify-content: flex-end;
  height: 100%;
  padding-right: 1vh;
}

.btn-clear-word {
  color: white;
  border: none;
  background-color: #d8d8d8;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

@media only screen and (max-width: 335px) {
  .container {
    display: grid;
    grid-area: container;
    grid-template-areas:
      'container-reset'
      'container-grid'
      'container-word';
    width: 22em;
    height: 90vh;
  }

  .container-word {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .container-letter {
    width: 100%;
    border: 1.8px solid;
    border-color: #979797;
    height: 1em;
    padding: 3vh 2vh 3vh;
    margin: 0;
  }

  .container-reset {
    align-content: center;
    flex-wrap: wrap;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin: 0;
    width: 100%;
    height: 23em;
  }

  .card {
    box-shadow: var(--shadow-card);
    border: 0.22em solid;
    border-color: rgb(196, 37, 56);
    height: 3.8em;
    width: 3.7em;
    margin: 0;
  }

  .letter {
    font-size: 2.1em;
  }

  .invalid {
    box-shadow: var(--shadow-card-invalid);
    background-color: #e84555;
    color: white;
    border: none;
  }

  .valid {
    box-shadow: var(--shadow-card-valid);
    background-color: #aee84e;
    color: white;
    border: none;
  }

  .placeholder {
    font-size: 1.4em;
  }

  .single-letter-invalid {
    font-size: 2em;
  }

  .single-letter-valid {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 336px) and (max-width: 375px) {
  .container {
    display: grid;
    grid-area: container;
    grid-template-areas:
      'container-reset'
      'container-grid'
      'container-word';
    width: 22em;
    height: 90vh;
  }

  .container-word {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .container-letter {
    width: 100%;
    border: 1.8px solid;
    border-color: #979797;
    height: 1em;
    padding: 3vh 2vh 3vh;
    margin: 0;
  }

  .container-reset {
    align-content: center;
    flex-wrap: wrap;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin: 0;
    width: 100%;
    height: 23em;
  }

  .card {
    box-shadow: var(--shadow-card);
    border: 0.22em solid;
    border-color: rgb(196, 37, 56);
    width: 4.1em;
    height: 4.25em;
    margin: 0;
  }

  .letter {
    font-size: 2.3em;
  }

  .invalid {
    box-shadow: var(--shadow-card-invalid);
    background-color: #e84555;
    color: white;
    border: none;
  }

  .valid {
    box-shadow: var(--shadow-card-valid);
    background-color: #aee84e;
    color: white;
    border: none;
  }

  .placeholder {
    font-size: 1.4em;
  }

  .single-letter-invalid {
    font-size: 2em;
  }

  .single-letter-valid {
    font-size: 1.7em;
  }

  .btn-clear-word {
    height: 6vh;
    width: 6vh;
  }

  .p-word {
    font-size: 2.5vh;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  .container {
    display: grid;
    grid-area: container;
    grid-template-areas:
      'container-reset'
      'container-grid'
      'container-word';
    width: 22em;
    height: 90vh;
  }

  .container-word {
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  .container-letter {
    width: 100%;
    border: 1.8px solid;
    border-color: #979797;
    height: 1em;
    padding: 3vh 2vh 3vh;
    margin: 0;
  }

  .container-reset {
    align-content: center;
    flex-wrap: wrap;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin: 0;
    width: 100%;
    height: 23em;
  }

  .card {
    box-shadow: var(--shadow-card);
    border: 0.22em solid;
    border-color: rgb(196, 37, 56);
    width: 4.8em;
    height: 4.8em;
    margin: 0;
  }

  .letter {
    font-size: 2.3em;
  }

  .invalid {
    box-shadow: var(--shadow-card-invalid);
    background-color: #e84555;
    color: white;
    border: none;
  }

  .valid {
    box-shadow: var(--shadow-card-valid);
    background-color: #aee84e;
    color: white;
    border: none;
  }

  .placeholder {
    font-size: 1.4em;
  }

  .single-letter-invalid {
    font-size: 2em;
  }

  .single-letter-valid {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1010px) {
  .card {
    width: 12.8vh;
    height: 12.8vh;
  }
  .grid {
    width: 65vh;
    height: 58vh;
  }

  .container-letter {
    height: 8vh;
  }
}
